@tailwind base;
@tailwind components;
@tailwind utilities;

/* input number increment and decrement remove */


/* time border remove */
.MuiOutlinedInput-notchedOutline {
  border: none ! important ;
}

.font-cairo {
  font-family: 'Cairo', sans-serif ;
}