@font-face {
    font-family: 'Cairo';
    src: url('/fonts/Cairo-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: 100 900;
  }

@font-face {
  font-family: 'Noto Color Emoji';
  src: url('/fonts/NotoColorEmoji-Regular.ttf') format('truetype');
  font-weight: normal;
  
}

